body { 
  background: url(assets/background.png) !important;
  background-size: 50% 25% !important;
  background-repeat: no-repeat;
  border: 10px solid black;
}

#container_header_links {
  background: green !important;
}